form {
  display: flex;
  gap: 0.5rem;
}
form input {
  flex: 2;
  border: none;
  outline: none;
  border: 1px solid #00000025;
  padding: 0.5rem;
}

form input,
form button {
  border-radius: 25px;
}

form button {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  flex: 1;
}
