.completed {
  text-decoration: line-through;
}

li {
  display: grid;
  grid-template-columns: 0.5fr 6fr 0.5fr 0.5fr 0.5fr; /* item2 is four times wider */
  grid-gap: 8px; /* Adjust the gap between grid items as needed */
}

input[type="checkbox"] {
  height: 1rem;
}

.grid-item {
  margin-top: auto;
  margin-bottom: auto;
}

.priority-icon {
  text-align: center;
}

.grey {
  color: rgb(222, 221, 221);
}
.blue {
  color: rgb(16, 209, 247);
}
.orange {
  color: rgb(255, 136, 0);
}
.red {
  color: rgb(255, 43, 43);
}

.green-true {
  color: rgb(70, 233, 70);
}
